@font-face {
	font-family: 'OpenSans';
	src: url("../font/Open_Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'OpenSans-Light';
	src: url("../font/Open_Sans/OpenSans-Light.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'Montserrat';
	src: url("../font/Montserrat/Montserrat-Regular.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'Montserrat-Bold';
	src: url("../font/Montserrat/Montserrat-Bold.ttf");
	font-size: 1em;
}
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

body{
	margin:0;
	padding:0;
    background: #fbfdfe;
}
.general-transition{
}
.left {
  display: block;
  width: 75vw;
  height: 100vh;
  background: #68B7F6;
  -webkit-transform: skew(-16deg) translateX(-25vw);
}

.popup{
    position: fixed;
    background: white;
    top: 20vh;
    left: 30vw;
    box-shadow: 0px 40px 150px #748da6;
    border-radius: 10px;
}
.box{
    position: relative;
}

.bold{
    font-family: 'Montserrat';
    font-size: 2em;
}
.light{
    font-family: 'OpenSans-Light';
    font-size: 1.5em;
}
.carousel{
    background: #68B7F6;
    color: white;
    width: 150px;
    line-height: 300%;
	height: 100px;
    border-radius: 30px;
    font-family: 'Montserrat';
    font-size: 1.5em;
    box-shadow: 0px 20px 50px #748da6;
	margin: 50px 0 30px 165px;
	overflow: hidden;
	position: relative;
	font-family: 'Montserrat-Bold';

}
.transit{
	transition: all 0.2s;
}
.grow:hover{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}
.right-arrow{
	width: 50px;
	height: 50px;
	margin: 30px;
	position: absolute;
	right: 0;
	top: 0;
	background-image: url('../img/angle-right.png');
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: 95% 50%;
}
.left-arrow{
	width: 50px;
	height: 50px;
	margin: 30px;
	position: absolute;
	top: 0;
	background-image: url('../img/angle-left.png');
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: 5% 50%;
}

.carousel div {
	float: left;
	margin: 20px 0 0 30px;
}
.direita{
	position: absolute;
	right:-70px;
}
