@font-face {
	font-family: 'Ubuntu-Bold';
	src: url("../../font/Ubuntu/Ubuntu-Bold.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'Ubuntu-Light';
	src: url("../../font/Ubuntu/Ubuntu-Light.ttf");
	font-size: 1em;
}
.popup{
    position: absolute;
    background: white;
    top: 20vh;
    left: 30vw;
    box-shadow: 0px 40px 150px #748da6;
    border-radius: 10px;
}
.light{
    font-family: 'Ubuntu-Light';
    font-size: 1.5em;
}
.input{
	margin: 0 0 5% 10%;
	float: left;
	height: 270px;
	width: 80%;
	background: #FFF;
	border-radius: 10px;
	margin-bottom: 50px;
	box-shadow: inset 0px 0px 20px rgba(2,95,173,0.6);
	overflow: hidden;
}
form{
	height: 100%;
}
textarea{
	border: none;
	background: rgba(0,0,0,0);
	width: 100%;
	height: 100%;
	border-radius: 10px;
	padding: 25px;
	font-family: 'Ubuntu-Bold';
	font-size: 1em;
}
#chamar_ajax{
	position: relative;
}
.botao-grande{
	width: 32px;
	position: absolute;
	top: -45px;
	left: 47%;
	transition: all 0.2s;
}
.botao-grande:hover{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}
