{% load staticfiles %}
<html>
<head>

    <title>Torre de Hanoi - Menu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'torre_de_hanoi/css_e_scripts.html' %}
</head>
<body>
    <div class="container-fluid">
        <div class="wrapper">
            <img class="form-signin-heading" src="{% static 'torre_de_hanoi/images/logo.png' %}"/>
            <hr>
            <br>
            <p class="lead">Digite o nome de quem jogará: </class>

            <br/>
            <form method="post">
                {% csrf_token %}
            {% for i in range_nomes %}
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Jogador {{forloop.counter}}</span>
              <input type="text" class="form-control" placeholder="Nome" aria-describedby="basic-addon1" name="nome_jogador{{forloop.counter}}">
            </div>
            <br/>
            {% endfor %}
            <button type="submit" class="btn btn-outline-success">Jogar</button>

        </form>

        </div>
    </div>
</body>
</html>
