{% load staticfiles %}
<link rel="stylesheet" href="{% static 'torre_de_hanoi/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static 'torre_de_hanoi/css/menu.css' %}"/>
<link rel="stylesheet" href="{% static 'torre_de_hanoi/css/bootstrap-theme.min.css' %}"/>
<link rel="stylesheet" href="{% static 'torre_de_hanoi/css/bootstrap-toggle.min.css' %}"/>
<script src="{% static 'torre_de_hanoi/js/jquery.min.js' %}"></script>
<script src="{% static 'torre_de_hanoi/js/bootstrap.min.js' %}"></script>
<script src="{% static 'torre_de_hanoi/js/bootstrap-toggle.min.js' %}"></script>
