{% load staticfiles %}
<html>
<head>

    <title>Torre de Hanoi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'torre_de_hanoi/css_e_scripts.html' %}
    <style type="text/css">
        .container-fluid{
            margin-top: -6%;
        }
        .vencedor{
            color:red;
            text-align: center;
        }
    </style>
</head>
<body>

<div class="container-fluid">
    <div class="wrapper">
        <h2>FIM DE JOGO!</h2>
        <hr>
        <p class="lead">Pontuação de {{request.session.nome_jogador1}}: {{request.session.pontuacao_jogador1}}</p>
        {% if request.session.nome_jogador2 %}
        <p class="lead">Pontuação de {{request.session.nome_jogador2}}: {{request.session.pontuacao_jogador2}}</p>
        {%if request.session.pontuacao_jogador1 > request.session.pontuacao_jogador2%}
        <p class="lead vencedor">{{request.session.nome_jogador1}} venceu!</p>
        {%elif request.session.pontuacao_jogador1 < request.session.pontuacao_jogador2%}
                <p class="lead vencedor">{{request.session.nome_jogador2}} venceu!</p>
        {%else%}
        <p class="lead vencedor">Empatou!</p>
        {% endif %}
        {% endif %}
        <br>
        <button type="button" class="btn btn-info btn-lg btn-block picks" data-toggle="modal" data-target="#myModal">
         Clique para jogar de novo
        </button>
        <a href="{% url 'torre_de_hanoi:resetar_sessao' %}" class="btn btn-lg btn-warning btn-block picks" type="button">Voltar ao menu</a>
        <a href="{% url 'torre_de_hanoi:sair_do_jogo'%}" class="btn btn-lg btn-danger btn-block picks" id="sair">SAIR</a>

        {% include 'torre_de_hanoi/modal_comecar_novo_jogo.html' %}

    </div>
</div>
</body>
</html>
