{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}smartZeus{% endblock %}


{% block extracss %}<link rel="stylesheet" href="{% static 'smartZeus/css/index.css' %}">{% endblock %}

{% block content%}
<div class="popup">
        <div class="row" style="margin-top:5%;">
                <p class="text-center light" style="width: 500px;">Envie um e-mail para seu gestor de RH.</p>
        </div>
        <div class="row">
            <div class="input text-center transit">
                <form method="get" data-ajax-url="{% url 'smartZeus:identificarPonto_view' %}">
                    {% csrf_token %}
                    {{formulario}}
                </form>
            </div>
        </div>
        <div id="chamar_ajax" class="text-center">
            <div class="botao-grande">
                <img src="{% static 'smartZeus/img/send-mail.png' %}">
            </div>
        </div>
</div>
{% endblock %}

{% block extrajs %}<script src="{% static 'smartZeus/js/index.js' %}"></script>{% endblock %}
