{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}HUB{% endblock %}


{% block extracss %}<link rel="stylesheet" href="{% static 'hub/css/apps.css' %}">{% endblock %}

{% block content%}
    <div class="popup">

    <div class="delimitador">

        <div class="card">
            <div class="header text-center">
                <div class="inside">
                    <img src="{% static 'torre_de_hanoi/images/logo.png' %}" width="200px">
                </div>
            </div>
            <div class="body text-center">
                <p class="ubold">Torre de Hanoi</p>
                <p class="ulight">Jogo desenvolvido na ECT</p>
            </div>
        </div>
            <div class="footer-wrapper">
                <a href="{% url 'torre_de_hanoi:index' %}">
                <div class="go-button transit">
                    <img src="{% static 'hub/img/go-arrow.svg' %}">
                </div>
                </a>
            </div>
    </div>

    <div class="delimitador">

        <div class="card">
            <div class="header text-center">
                <div class="inside">
                </div>
            </div>
            <div class="body text-center">
                <p class="ubold">smartZeus</p>
                <p class="ulight">Identifica pontos enviados por e-mail</p>
            </div>
        </div>
            <div class="footer-wrapper">
                <a href="{% url 'smartZeus:index' %}">
                <div class="go-button transit">
                    <img src="{% static 'hub/img/go-arrow.svg' %}">
                </div>
                </a>
            </div>
    </div>

    </div>
{% endblock %}

{% block extrajs %}<script src="{% static 'hub/js/apps.js' %}"></script>{% endblock %}
