{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}HUB{% endblock %}


{% block extracss %}
<link rel="stylesheet" href="{% static 'hub/css/experimentos.css' %}">
{% endblock %}

{% block content%}
<div class="popup">
        <div class="row" style="margin-top:5%;">
                <p class="text-center light" style="width: 500px;">Escolha um experimento em meu playground</p>
        </div>
        <div class="row wrapper">
            <div class="seletor text-center transit" id="scroll2">
                <div class="conteudo">

                  <div class="item-selecionavel">beyuunda</div>
                  <div class="item-selecionavel">beyuunda</div>
                  <div class="item-selecionavel">beyuunda</div>
                  <div class="item-selecionavel">beyuunda</div>
                  <div class="item-selecionavel">beyuunda</div>
                  <div class="item-selecionavel">beyuunda</div>
                  <div class="item-selecionavel">beyuunda</div>
                  <div class="item-selecionavel">beyuunda</div>
                  <div class="item-selecionavel">beyuunda</div>
                  <div class="item-selecionavel">beyuunda</div>
                  <div class="item-selecionavel">beyuunda</div>
              </div>
            </div>
            <div id="scroll">
                <div class="controle-overflow"></div>
            </div>
        </div>
</div>
{% endblock %}

{% block extrajs %}<script src="{% static 'hub/js/experimentos.js' %}"></script>{% endblock %}
