{% load staticfiles%}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>Hub</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/principal.css' %}">

		<script src="{% static 'js/jQuery-1.11.3.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.js' %}"></script>
	</head>

	<body>
		<span class='left'></span>
		<div class="popup">
			<div class="box">
				<div class="row text-center">
					<img src="{% static 'img/crown.png' %}" style="margin-top:20%;">
				</div>
				<div class="row" style="margin-top:5%;">
					<p class="text-center bold text">H U B</p>
				</div>
				<div class="row">
					<p class="text-center light text" style="width: 500px;">Escolha um destino em meu Hub</p>
				</div>
				<div class="box">
					<span class="right-arrow"></span>
					<div class="carousel text-center">
						<div class="esquerda">Zona 51</div>
						<div class="direita">Outfit</div>
					</div>
					<span class="left-arrow"></span>
				</div>
			</div>
		</div>

		<script type="text/javascript">
				$(document).ready(function(){
					$(".carousel").click(function(){
						$(".carousel div").toggleClass("teste")
					})
				})
		</script>
	</body>
</html>
