<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>teste</title>
        <style media="screen">
            .mae{
                width: 35px;
                height: 25px;
                border: 2px solid green;
                overflow: hidden;
                position: relative;
            }
            .mae div{
                float: left;
            }
            .direita{
                position: absolute;
                right:-10px;
            }
        </style>
    </head>
    <body>
        <div class="mae">
            <div class="esquerda">
                esq
            </div>
            <div class="direita">
                dir
            </div>
        </div>
    </body>
</html>
