{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="{% static 'vue/css/search.css' %}">
</head>

<body>
    <div id="main" class="search" v-cloak>

        <input type="text" placeholder="Nome de usuário..." v-model="searchString" @focus="show_tooltip = true" @blur="show_tooltip = false"/>

        <div class="tooltip" v-if="show_tooltip">
            <ul class="results">
                <li v-for="user in filteredUsers">
                    <a href="index.html">!!user.nome!!<br /><span>!!user.descricao!!</span></a>
                </li>
            </ul>
        </div>


    </div>
</body>

<script src="{% static 'js/vue.min.js' %}"></script>
<script src="{% static 'js/axios.min.js' %}"></script>

<script type="text/javascript">
// Creating a new Vue instance and pass in an options object.
var demo = new Vue({
    delimiters: ['!!','!!'],
    // A DOM element to mount our view model.
    el: '#main',

    // Define properties and give them initial values.
    data: {
        show_tooltip: false,
        searchString: "",
        users: ['diego']

    },

    mounted() {
        axios.get('http://localhost:8001/api/v0/competencias').then(function(response){
            this.users = response.data.dados;
        }.bind(this));
    },
    computed: {
        // A computed property that holds only those users that match the searchString.
        filteredUsers: function () {
            var users_array = this.users,
            searchString = this.searchString;

            if(!searchString){
                return users_array;
            }

            searchString = searchString.trim().toLowerCase();

            users_array = users_array.filter(function(item){
                if(item.nome.toLowerCase().indexOf(searchString) !== -1 || item.descricao.toLowerCase().indexOf(searchString) !== -1){
                    return item;
                }
            })

            // Return an array with the filtered data.
            return users_array;
        }
    },

})
</script>
</html>
